# 1 Working with Time Series in Pandas

## How to use dates & times with pandas

In [2]:
import pandas as pd
from datetime import datetime

In [3]:
datetime(2017, 1, 1)

datetime.datetime(2017, 1, 1, 0, 0)

In [4]:
time_stamp = pd.Timestamp(datetime(2017, 1, 1))
time_stamp

Timestamp('2017-01-01 00:00:00')

In [3]:
pd.Timestamp('2017-01-01') == time_stamp # type: pandas.tslib.Timestamp

True

In [5]:
time_stamp.year

2017

In [6]:
time_stamp.day_name()

'Sunday'

In [7]:
period = pd.Period('2017-01')
period # default: month-end

Period('2017-01', 'M')

In [8]:
period.asfreq('D') # convert to daily

Period('2017-01-31', 'D')

In [10]:
period.to_timestamp()

Timestamp('2017-01-01 00:00:00')

In [11]:
# Convert pd.Period() to pd.Timestamp() and back
period.to_timestamp().to_period('M')

Period('2017-01', 'M')

In [12]:
period + 2

Period('2017-03', 'M')

In [ ]:
pd.Timestamp('2017-01-31', 'M') + 1

In [15]:
index = pd.date_range(start='2017-1-1', periods=12, freq='M')
index

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31'],
              dtype='datetime64[ns]', freq='M')

In [16]:
index[0]

Timestamp('2017-01-31 00:00:00', freq='M')

In [17]:
index.to_period()

PeriodIndex(['2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
             '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12'],
            dtype='period[M]')

In [19]:
pd.DataFrame({'data': index})

         data
0  2017-01-31
1  2017-02-28
2  2017-03-31
3  2017-04-30
4  2017-05-31
5  2017-06-30
6  2017-07-31
7  2017-08-31
8  2017-09-30
9  2017-10-31
10 2017-11-30
11 2017-12-31

In [20]:
pd.DataFrame({'data': index}).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    12 non-null     datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 224.0 bytes

In [21]:
import numpy as np

In [29]:
np.random.random(size=(12, 2))

array([[0.53494871, 0.11573305],
       [0.41249016, 0.00764536],
       [0.57892095, 0.71136233],
       [0.5472453 , 0.95597653],
       [0.03490213, 0.43444247],
       [0.14536452, 0.1234759 ],
       [0.47841389, 0.49531563],
       [0.90209384, 0.3125166 ],
       [0.94152684, 0.19147031],
       [0.16752483, 0.58288799],
       [0.41464408, 0.18802338],
       [0.99172843, 0.62698603]])

In [32]:
data = np.random.random(size=(12, 2)) # 12rows, 2 columns
pd.DataFrame(data=data, index=index).info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12 entries, 2017-01-31 to 2017-12-31
Freq: M
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       12 non-null     float64
 1   1       12 non-null     float64
dtypes: float64(2)
memory usage: 288.0 bytes

## Your first time series

In [34]:
# Create the range of dates here
seven_days = pd.date_range(start='2017-1-1', periods=7, freq='D')

# Iterate over the dates and print the number and name of the weekday
for day in seven_days:
    print(day.dayofweek, day.day_name())

6 Sunday
0 Monday
1 Tuesday
2 Wednesday
3 Thursday
4 Friday
5 Saturday

## Indexing & resampling time series

In [35]:
google = pd.read_csv('./data/stock_data/google.csv')
google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1094 non-null   object
 1   Close   756 non-null    float64
dtypes: float64(1), object(1)
memory usage: 17.2+ KB

In [36]:
google.head()

         Date   Close
0  2014-01-02  556.00
1  2014-01-03  551.95
2  2014-01-04     NaN
3  2014-01-05     NaN
4  2014-01-06  558.10

In [41]:
google.Date = pd.to_datetime(google.Date)

In [42]:
google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1094 non-null   datetime64[ns]
 1   Close   756 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 17.2 KB